<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Cpcos HTML Template | About Us 02</title>

<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Merienda:wght@400;700&family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header -->
    <header class="main-header header-style-three">
    
        <!-- Header Lower -->
        <div class="header-lower">
            <div class="outer-container">
                <div class="inner-container clearfix">
                    
                    <div class="pull-left logo-box">
                        <div class="logo"><a href="index.html"><img src="images/logo-2.png" alt="" title=""></a></div>
                    </div>
					<!-- Language Nav -->
					<ul class="language-nav">
						<li><a href="#">Eng</a></li>
						<li><a href="#">Dut</a></li>
					</ul>
                    
                    <div class="pull-right nav-outer clearfix">
						<!-- Mobile Navigation Toggler -->
						<div class="mobile-nav-toggler"><span class="icon flaticon-menu-2"></span></div>
						<!-- Main Menu -->
						<nav class="main-menu show navbar-expand-md">
							<div class="navbar-header">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							
							<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
								<ul class="navigation clearfix">
									<li class="dropdown"><a href="#">Home</a>
										<ul>
											<li><a href="index.html">Business Motivation</a></li>
											<li><a href="index-2.html">Relationship Consultant</a></li>
											<li><a href="index-3.html">Life Coach</a></li>
											<li><a href="index-4.html">Business Consulting </a></li>
										</ul>
									</li>
									<li class="current dropdown"><a href="#">About us</a>
										<ul>
											<li><a href="about.html">About us</a></li>
											<li><a href="about-2.html">About us 02</a></li>
											<li><a href="team.html">Team</a></li>
											<li><a href="faq.html">Faq's</a></li>
										</ul>
									</li>
									<li><a href="services.html">Services</a></li>
									<li class="dropdown"><a href="#">Events</a>
										<ul>
											<li><a href="events.html">Events</a></li>
											<li><a href="events-single.html">Events Single</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="#">Courses</a>
										<ul>
											<li><a href="courses.html">Courses</a></li>
											<li><a href="courses-2.html">Courses V2</a></li>
											<li><a href="courses-3.html">Courses V3</a></li>
											<li><a href="courses-single.html">Courses Single</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="#">Blog</a>
										<ul>
											<li><a href="blog.html">Our Blog</a></li>
											<li><a href="blog-classic.html">Blog Classic</a></li>
											<li><a href="news-detail.html">Blog Details</a></li>
											<li><a href="not-found.html">Not Found</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="#">Shop</a>
										<ul>
											<li><a href="shop.html">Shop</a></li>
											<li><a href="shop-single.html">Shop Details</a></li>
											<li><a href="shoping-cart.html">Cart Page</a></li>
											<li><a href="checkout.html">Checkout Page</a></li>
										</ul>
									</li>
									<li><a href="contact.html">Contact us</a></li>
								 </ul>
							</div>
						</nav>
						<!-- Main Menu End-->

						<!-- Outer Box -->
						<div class="outer-box">
						
							<!-- Search Btn -->
							<div class="search-box-btn search-box-outer"><span class="icon fa fa-search"></span></div>
							
							<!-- Cart Box -->
							<div class="cart-box">
								<div class="dropdown">
									<button class="cart-box-btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flaticon-shopping-cart-1"></span></button>
									<div class="dropdown-menu pull-right cart-panel" aria-labelledby="dropdownMenu2">

										<div class="cart-product">
											<div class="inner">
												<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
												<div class="image"><img src="images/resource/post-thumb-1.jpg" alt="" /></div>
												<h3><a href="shop-single.html">Product 01</a></h3>
												<div class="quantity-text">Quantity 1</div>
												<div class="price">$99.00</div>
											</div>
										</div>
										<div class="cart-product">
											<div class="inner">
												<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
												<div class="image"><img src="images/resource/post-thumb-2.jpg" alt="" /></div>
												<h3><a href="shop-single.html">Product 02</a></h3>
												<div class="quantity-text">Quantity 1</div>
												<div class="price">$99.00</div>
											</div>
										</div>
										<div class="cart-total">Sub Total: <span>$198</span></div>
										<ul class="btns-boxed">
											<li><a href="shoping-cart.html">View Cart</a></li>
											<li><a href="checkout.html">CheckOut</a></li>
										</ul>

									</div>
								</div>
							</div>
							
						</div>
						
						<!-- Login Box -->
						<ul class="login-box">
							<li><a href="#" class="login">Login</a></li>
							<li><a href="#" class="register">Sign Up</a></li>
						</ul>
						
					</div>
                    
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-multiply"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="images/logo-2.png" alt="" title=""></a></div>
                <div class="menu-outer">
					<!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
				</div>
            </nav>
        </div><!-- End Mobile Menu -->
    
    </header>
    <!-- End Main Header -->
	
    <!-- Page Title Section / Style Two -->
    <section class="page-title-section style-two">
		<div class="icon-layer-two" style="background-image:url(images/background/pattern-16.png)"></div>
		<div class="icon-layer-three" style="background-image:url(images/icons/icon-3.png)"></div>
		<div class="icon-layer-four" style="background-image:url(images/icons/icon-3.png)"></div>
		<div class="icon-layer-nine" style="background-image:url(images/background/pattern-18.png)"></div>
		<div class="icon-layer-ten" style="background-image:url(images/background/pattern-19.png)"></div>
    	<div class="auto-container">
            <div class="row clearfix">
				
				<!-- Title Column -->
				<div class="title-column col-lg-6 cl-md-12 col-sm-12">
					<div class="inner-column">
						<ul class="page-breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li>About us</li>
						</ul>
						<h1>About us</h1>
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 cl-md-12 col-sm-12">
					<div class="inner-column">
						<div class="color-layer"></div>
						<div class="color-layer-two"></div>
						<div class="icon-layer-five" style="background-image:url(images/icons/icon-12.png)"></div>
						<div class="icon-layer-six" style="background-image:url(images/icons/icon-22.png)"></div>
						<div class="icon-layer-seven" style="background-image:url(images/icons/pattern-10.png)"></div>
						<div class="icon-layer-eight" style="background-image:url(images/icons/pattern-19.png)"></div>
						<div class="image">
							<img src="images/resource/page-title-1.png" alt="" />
						</div>
					</div>
				</div>
				
			</div>
		
        </div>
    </section>
    <!-- End Page Title Slider -->
	
	<!-- Featured Section -->
	<section class="featured-section style-two">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Feature Block Two -->
				<div class="feature-block-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="icon-box">
							<span class="icon flaticon-meditation"></span>
						</div>
						<h6>100% Confidential</h6>
					</div>
				</div>
				
				<!-- Feature Block Two -->
				<div class="feature-block-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="icon-box">
							<span class="icon flaticon-time-management-1"></span>
						</div>
						<h6>Trained Therapists</h6>
					</div>
				</div>
				
				<!-- Feature Block Two -->
				<div class="feature-block-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="icon-box">
							<span class="icon flaticon-mental-health"></span>
						</div>
						<h6>Mental Health Advocates</h6>
					</div>
				</div>
				
				<!-- Feature Block Two -->
				<div class="feature-block-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="icon-box">
							<span class="icon flaticon-respect"></span>
						</div>
						<h6>Selfcare Essentials</h6>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Featured Section -->
	
	<!-- About Section -->
	<section class="about-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2>Some Word About <br> company</h2>
						<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</div>
						<div class="bold-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
						<h5>Our Journay</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
						<h5>Our Story</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
					</div>
				</div>
				
				<!-- Images Column -->
				<div class="images-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="icon-layer-one" style="background-image:url(images/icons/icon-3.png)"></div>
						<div class="icon-layer-two" style="background-image:url(images/icons/pattern-10.png)"></div>
						<div class="image">
							<img src="images/resource/about.jpg" alt="" />
						</div>
						<div class="image-two">
							<img src="images/resource/about-1.png" alt="" />
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End About Section -->
	
	<!-- Counter Section Two -->
	<section class="counter-section-two style-two">
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="color-layer-one"></div>
						<div class="color-layer-two"></div>
						<div class="pattern-layer" style="background-image:url(images/background/pattern-17.png)"></div>
						<div class="image">
							<img src="images/resource/counter-img.png" alt="" />
						</div>
					</div>
				</div>
				<!-- Counter Column -->
				<div class="counter-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="pattern-layer-two" style="background-image:url(images/icons/icon-23.png)"></div>
						<!-- Title Box -->
						<div class="title-box">
							<div class="title">Achieve Goals</div>
							<h2>Start To Success <br> Save your time by using Capcos</h2>
						</div>
						<div class="text">
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Duis aute irure dolor in </p>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in</p>
						</div>
						
						<!-- Fact Counter Two -->
						<div class="fact-counter-two">
							<div class="row clearfix">

								<!-- Column -->
								<div class="column counter-column col-lg-6 col-md-6 col-sm-12">
									<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
										<div class="content">
											<div class="count-outer count-box">
												<span class="count-text" data-speed="2500" data-stop="116">0</span>+
											</div>
											<h6 class="counter-title">Over 35 Free Coach</h6>
										</div>
									</div>
								</div>

								<!-- Column -->
								<div class="column counter-column col-lg-6 col-md-6 col-sm-12">
									<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
										<div class="content">
											<div class="count-outer count-box alternate">
												<span class="count-text" data-speed="3000" data-stop="41">0</span>+
											</div>
											<h6 class="counter-title">Member State Associations</h6>
										</div>
									</div>
								</div>

								<!-- Column -->
								<div class="column counter-column col-lg-6 col-md-6 col-sm-12">
									<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
										<div class="content">
											<div class="count-outer count-box">
												<span class="count-text" data-speed="3000" data-stop="15">0</span>k
											</div>
											<h6 class="counter-title">Over 19,000 High Schools</h6>
										</div>
									</div>
								</div>
								
								<!-- Column -->
								<div class="column counter-column col-lg-6 col-md-6 col-sm-12">
									<div class="inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
										<div class="content">
											<div class="count-outer count-box">
												<span class="count-text" data-speed="2500" data-stop="20">0</span>m
											</div>
											<h6 class="counter-title">Over 11 million Students</h6>
										</div>
									</div>
								</div>

							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Counter Section Two -->
	
	<!-- Team Section -->
	<section class="team-section">
		<div class="auto-container">
			<div class="inner-container">
				<div class="row clearfix">
				
					<!-- Title Column -->
					<div class="title-column col-lg-4 col-md-12 col-sm-12">
						<div class="inner-column">
							<!-- Sec Title -->
							<div class="sec-title">
								<div class="title">Our Team</div>
								<h2>Our best online <br> Techer</h2>
								<div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</div>
							</div>
							<a class="theme-btn btn-style-seven" href="team.html"><span class="txt">More Team</span></a>
						</div>
					</div>
					
					<!-- Team Column -->
					<div class="team-column col-lg-8 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="color-box"></div>
							<div class="row clearfix">
								
								<!-- Team Block -->
								<div class="team-block col-lg-6 col-md-6 col-sm-12">
									<div class="inner-box">
										<div class="image">
											<a href="course-detail.html"><img src="images/resource/team-1.jpg" alt="" /></a>
										</div>
										<div class="lower-content">
											<h5><a href="course-detail.html">Mahfuz Riad</a></h5>
											<div class="designation">- Designer, themeforest</div>
										</div>
									</div>
								</div>
								
								<!-- Team Block -->
								<div class="team-block col-lg-6 col-md-6 col-sm-12">
									<div class="inner-box">
										<div class="image">
											<a href="course-detail.html"><img src="images/resource/team-2.jpg" alt="" /></a>
										</div>
										<div class="lower-content">
											<h5><a href="course-detail.html">Tamim megh</a></h5>
											<div class="designation">- Designer, themeforest</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Section -->
	
	<!-- Testimonial Section Two -->
	<section class="testimonial-section-two">
		<div class="auto-container">
			<!-- Title Box -->
			<div class="title-box">
				<h2>From the Cpcos <br> community</h2>
			</div>
			
			<div class="single-item-carousel owl-carousel owl-theme">
			
				<!-- Testimonial Block Two -->
				<div class="testimonial-block-two">
					<div class="inner-box">
						<div class="pattern-layer-one" style="background-image:url(images/background/pattern-5.png)"></div>
						<div class="row clearfix">
						
							<!-- Content Column -->
							<div class="content-column col-lg-6 col-md-12 col-sm-12">
								<div class="inner-column">
									<div class="icon-layer-one" style="background-image:url(images/icons/icon-12.png)"></div>
									<div class="author-info-box">
										<div class="box-inner">
											<div class="author-image">
												<img src="images/resource/author-4.jpg" alt="" />
											</div>
											<h5>Joli Riad</h5>
											<div class="designation">IBM Data Science Professional <br> Certificate Alumna</div>
										</div>
									</div>
									<div class="text">It’s a really big deal to offer an online MBA that’s a real MBA at a price that’s achievable. This program is totally disrupting higher education.</div>
									<div class="lower-text">30+ million people are already learning on Cpcos</div>
									<a href="courses-single.html" class="theme-btn btn-style-three"><span class="txt">More review</span></a>
								</div>
							</div>
							
							<!-- Image Column -->
							<div class="image-column col-lg-6 col-md-12 col-sm-12">
								<div class="inner-column">
									<div class="icon-layer-two" style="background-image:url(images/icons/icon-11.png)"></div>
									<div class="image">
										<img src="images/resource/testimonial-1.jpg" alt="" />
									</div>
									<div class="quote-icon flaticon-quote-2"></div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block Two -->
				<div class="testimonial-block-two">
					<div class="inner-box">
						<div class="pattern-layer-one" style="background-image:url(images/background/pattern-5.png)"></div>
						<div class="row clearfix">
						
							<!-- Content Column -->
							<div class="content-column col-lg-6 col-md-12 col-sm-12">
								<div class="inner-column">
									<div class="icon-layer-one" style="background-image:url(images/icons/icon-12.png)"></div>
									<div class="author-info-box">
										<div class="box-inner">
											<div class="author-image">
												<img src="images/resource/author-4.jpg" alt="" />
											</div>
											<h5>Joli Riad</h5>
											<div class="designation">IBM Data Science Professional <br> Certificate Alumna</div>
										</div>
									</div>
									<div class="text">It’s a really big deal to offer an online MBA that’s a real MBA at a price that’s achievable. This program is totally disrupting higher education.</div>
									<div class="lower-text">30+ million people are already learning on Cpcos</div>
									<a href="courses-single.html" class="theme-btn btn-style-three"><span class="txt">More review</span></a>
								</div>
							</div>
							
							<!-- Image Column -->
							<div class="image-column col-lg-6 col-md-12 col-sm-12">
								<div class="inner-column">
									<div class="icon-layer-two" style="background-image:url(images/icons/icon-11.png)"></div>
									<div class="image">
										<img src="images/resource/testimonial-1.jpg" alt="" />
									</div>
									<div class="quote-icon flaticon-quote-2"></div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<!-- Testimonial Block Two -->
				<div class="testimonial-block-two">
					<div class="inner-box">
						<div class="pattern-layer-one" style="background-image:url(images/background/pattern-5.png)"></div>
						<div class="row clearfix">
						
							<!-- Content Column -->
							<div class="content-column col-lg-6 col-md-12 col-sm-12">
								<div class="inner-column">
									<div class="icon-layer-one" style="background-image:url(images/icons/icon-12.png)"></div>
									<div class="author-info-box">
										<div class="box-inner">
											<div class="author-image">
												<img src="images/resource/author-4.jpg" alt="" />
											</div>
											<h5>Joli Riad</h5>
											<div class="designation">IBM Data Science Professional <br> Certificate Alumna</div>
										</div>
									</div>
									<div class="text">It’s a really big deal to offer an online MBA that’s a real MBA at a price that’s achievable. This program is totally disrupting higher education.</div>
									<div class="lower-text">30+ million people are already learning on Cpcos</div>
									<a href="courses-single.html" class="theme-btn btn-style-three"><span class="txt">More review</span></a>
								</div>
							</div>
							
							<!-- Image Column -->
							<div class="image-column col-lg-6 col-md-12 col-sm-12">
								<div class="inner-column">
									<div class="icon-layer-two" style="background-image:url(images/icons/icon-11.png)"></div>
									<div class="image">
										<img src="images/resource/testimonial-1.jpg" alt="" />
									</div>
									<div class="quote-icon flaticon-quote-2"></div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Testimonial Section Two -->
	
	<!-- Clients Section Two / Style Two -->
	<section class="clients-section-two style-three">
		<div class="auto-container">
			<!-- Title Box -->
			<div class="title-box">
				<div class="title">As Seen on</div>
				<h2>We collaborate with <span>100+ leading</span> <br> Choching and companies</h2>
			</div>
			<div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/6.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/7.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/8.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/9.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/10.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/6.png" alt=""></a></figure></li>
					<li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/7.png" alt=""></a></figure></li>
                </ul>
            </div>
		</div>
	</section>
	<!-- End Clients Section Two / Style Two -->
	
	<!-- Newsletter Section Two -->
	<section class="newsletter-section-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="color-box"></div>
				<div class="icon-layer-one" style="background-image:url(images/icons/pattern-12.png)"></div>
				<div class="icon-layer-two" style="background-image:url(images/background/pattern-13.png)"></div>
				<div class="pattern-layer" style="background-image:url(images/background/pattern-14.png)"></div>
				<div class="row clearfix">
					
					<!-- Form Column -->
					<div class="form-column col-lg-7 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="title-box">
								<h2>Signup to our newsletter</h2>
								<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <br> do eiusmod tempor incididunt </div>
							</div>
							<!-- Newsletter Form -->
							<div class="newsletter-form-two">
								<form method="post" action="contact.html">
									<div class="form-group">
										<span class="icon fa fa-envelope-o"></span>
										<input type="email" name="email" value="" placeholder="Enter your eamil address" required>
										<button type="submit" class="flaticon-next-2 submit-btn"></button>
									</div>
								</form>
							</div>
						</div>
					</div>
					
					<!-- Image Column -->
					<div class="image-column col-lg-5 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image">
								<img src="images/resource/newsletter.png" alt="" />
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Newsletter Section Two -->
	
	<!-- Main Footer / Style Two -->
    <footer class="main-footer style-three">
		<div class="pattern-layer-four" style="background-image: url(images/icons/icon-10.png)"></div>
		<div class="pattern-layer-five" style="background-image: url(images/icons/icon-4.png)"></div>
		<div class="pattern-layer-six" style="background-image: url(images/icons/icon-16.png)"></div>
		<div class="pattern-layer-seven" style="background-image: url(images/icons/icon-6.png)"></div>
    	<div class="auto-container">
			<!-- Upper Box -->
			<div class="upper-box">
				<div class="clearfix">
					<div class="pull-left">
						<div class="logo">
							<a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
						</div>
						<div class="phone">
							<strong>Call us</strong>
							<a href="mailto:016826481101">016826481101</a>
						</div>
						<div class="email">
							<strong>Email us</strong>
							Email: <a href="mailto:info@gmail.com">info@gmail.com</a>
						</div>
					</div>
					<div class="pull-right">
						<!-- Social Box -->
						<ul class="social-box">
							<li><a href="#" class="fa fa-facebook-f"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-pinterest-p"></a></li>
							<li><a href="#" class="fa fa-youtube-play"></a></li>
							<li><a href="#" class="fa fa-dribbble"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Upper Box -->
			
        	<!-- Widgets Section -->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!-- Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
						<div class="row clearfix">
						
                        	<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget payment-widget">
									<div class="text">Our mission is to provide a free, world-class education to anyone, anywhere. <br> <span>58 Howard Street #2 San Francisco USA</span></div>
									<div class="payment">We accept payment</div>
									<div class="cards"><img src="images/icons/cards.png" alt="" /></div>
								</div>
							</div>
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget link-widget">
									<h5>Company</h5>
									<ul class="link-list">
										<li><a href="#">Library</a></li>
										<li><a href="#">Gallery</a></li>
										<li><a href="#">Partners</a></li>
										<li><a href="#">Career</a></li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
					
					<!-- Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
						<div class="row clearfix">
						
                        	<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget info-widget">
									<h5>Products</h5>
									<ul class="link-list">
										<li><a href="#">Courses</a></li>
										<li><a href="#">Instructor</a></li>
										<li><a href="#">Events</a></li>
										<li><a href="#">Become A Teacher</a></li>
									</ul>
								</div>
							</div>
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget link-widget">
									<h5>Countries</h5>
									<ul class="link-list">
										<li><a href="#">About</a></li>
										<li><a href="#">News</a></li>
										<li><a href="#">Impact</a></li>
										<li><a href="#">Our team</a></li>
										<li><a href="#">Motivation</a></li>
										<li><a href="#">Business</a></li>
										<li><a href="#">Consulting USA</a></li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				
				</div>
			</div>
			
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="copyright">Copyright 2021, All Right Reserved</div>
			</div>
			
		</div>
	</footer>
	<!-- End Main Footer -->
	
</div>
<!--End pagewrapper-->

<!-- Header Search -->
<div class="search-popup">
	<button class="close-search style-two"><span class="flaticon-multiply"></span></button>
	<button class="close-search"><span class="flaticon-multiply"></span></button>
	<form method="post" action="blog.html">
		<div class="form-group">
			<input type="search" name="search-field" value="" placeholder="Search Here" required="">
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	</form>
</div>
<!-- End Header Search -->

<!-- Scroll To Top -->
<div class="scroll-to-tops scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/nav-tool.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/owl.js"></script>
<script src="js/tilt.jquery.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/isotope.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/script.js"></script>

</body>
</html>