<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Cpcos HTML Template | Blog Detail</title>

<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Merienda:wght@400;700&family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header -->
    <header class="main-header header-style-three">
    
        <!-- Header Lower -->
        <div class="header-lower">
            <div class="outer-container">
                <div class="inner-container clearfix">
                    
                    <div class="pull-left logo-box">
                        <div class="logo"><a href="index.html"><img src="images/logo-2.png" alt="" title=""></a></div>
                    </div>
					<!-- Language Nav -->
					<ul class="language-nav">
						<li><a href="#">Eng</a></li>
						<li><a href="#">Dut</a></li>
					</ul>
                    
                    <div class="pull-right nav-outer clearfix">
						<!-- Mobile Navigation Toggler -->
						<div class="mobile-nav-toggler"><span class="icon flaticon-menu-2"></span></div>
						<!-- Main Menu -->
						<nav class="main-menu show navbar-expand-md">
							<div class="navbar-header">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							
							<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
								<ul class="navigation clearfix">
									<li class="dropdown"><a href="#">Home</a>
										<ul>
											<li><a href="index.html">Business Motivation</a></li>
											<li><a href="index-2.html">Relationship Consultant</a></li>
											<li><a href="index-3.html">Life Coach</a></li>
											<li><a href="index-4.html">Business Consulting </a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="#">About us</a>
										<ul>
											<li><a href="about.html">About us</a></li>
											<li><a href="about-2.html">About us 02</a></li>
											<li><a href="team.html">Team</a></li>
											<li><a href="faq.html">Faq's</a></li>
										</ul>
									</li>
									<li><a href="services.html">Services</a></li>
									<li class="dropdown"><a href="#">Events</a>
										<ul>
											<li><a href="events.html">Events</a></li>
											<li><a href="events-single.html">Events Single</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="#">Courses</a>
										<ul>
											<li><a href="courses.html">Courses</a></li>
											<li><a href="courses-2.html">Courses V2</a></li>
											<li><a href="courses-3.html">Courses V3</a></li>
											<li><a href="courses-single.html">Courses Single</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="#">Blog</a>
										<ul>
											<li><a href="blog.html">Our Blog</a></li>
											<li><a href="blog-classic.html">Blog Classic</a></li>
											<li><a href="news-detail.html">Blog Details</a></li>
											<li><a href="not-found.html">Not Found</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="#">Shop</a>
										<ul>
											<li><a href="shop.html">Shop</a></li>
											<li><a href="shop-single.html">Shop Details</a></li>
											<li><a href="shoping-cart.html">Cart Page</a></li>
											<li><a href="checkout.html">Checkout Page</a></li>
										</ul>
									</li>
									<li><a href="contact.html">Contact us</a></li>
								 </ul>
							</div>
						</nav>
						<!-- Main Menu End-->

						<!-- Outer Box -->
						<div class="outer-box">
						
							<!-- Search Btn -->
							<div class="search-box-btn search-box-outer"><span class="icon fa fa-search"></span></div>
							
							<!-- Cart Box -->
							<div class="cart-box">
								<div class="dropdown">
									<button class="cart-box-btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flaticon-shopping-cart-1"></span></button>
									<div class="dropdown-menu pull-right cart-panel" aria-labelledby="dropdownMenu2">

										<div class="cart-product">
											<div class="inner">
												<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
												<div class="image"><img src="images/resource/post-thumb-1.jpg" alt="" /></div>
												<h3><a href="shop-single.html">Product 01</a></h3>
												<div class="quantity-text">Quantity 1</div>
												<div class="price">$99.00</div>
											</div>
										</div>
										<div class="cart-product">
											<div class="inner">
												<div class="cross-icon"><span class="icon fa fa-remove"></span></div>
												<div class="image"><img src="images/resource/post-thumb-2.jpg" alt="" /></div>
												<h3><a href="shop-single.html">Product 02</a></h3>
												<div class="quantity-text">Quantity 1</div>
												<div class="price">$99.00</div>
											</div>
										</div>
										<div class="cart-total">Sub Total: <span>$198</span></div>
										<ul class="btns-boxed">
											<li><a href="shoping-cart.html">View Cart</a></li>
											<li><a href="checkout.html">CheckOut</a></li>
										</ul>

									</div>
								</div>
							</div>
							
						</div>
						
						<!-- Login Box -->
						<ul class="login-box">
							<li><a href="#" class="login">Login</a></li>
							<li><a href="#" class="register">Sign Up</a></li>
						</ul>
						
					</div>
                    
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-multiply"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="images/logo-2.png" alt="" title=""></a></div>
                <div class="menu-outer">
					<!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
				</div>
            </nav>
        </div><!-- End Mobile Menu -->
    
    </header>
    <!-- End Main Header -->
	
    <!-- Page Title Section -->
    <section class="page-title-section">
		<div class="icon-layer-one" style="background-image:url(images/background/pattern-15.png)"></div>
		<div class="icon-layer-two" style="background-image:url(images/background/pattern-16.png)"></div>
		<div class="icon-layer-three" style="background-image:url(images/icons/icon-3.png)"></div>
		<div class="icon-layer-four" style="background-image:url(images/icons/icon-3.png)"></div>
    	<div class="auto-container">
            <div class="row clearfix">
				
				<!-- Title Column -->
				<div class="title-column col-lg-6 cl-md-12 col-sm-12">
					<div class="inner-column">
						<ul class="page-breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li>Blog</li>
						</ul>
						<h1>Blog Single <br> Page</h1>
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 cl-md-12 col-sm-12">
					<div class="inner-column">
						<div class="color-layer"></div>
						<div class="color-layer-two"></div>
						<div class="icon-layer-five" style="background-image:url(images/icons/icon-12.png)"></div>
						<div class="icon-layer-six" style="background-image:url(images/icons/icon-22.png)"></div>
						<div class="icon-layer-seven" style="background-image:url(images/icons/pattern-10.png)"></div>
						<div class="icon-layer-eight" style="background-image:url(images/icons/pattern-19.png)"></div>
						<div class="image">
							<img src="images/resource/page-title-2.png" alt="" />
						</div>
					</div>
				</div>
				
			</div>
		
        </div>
    </section>
    <!-- End Page Title Slider -->
	
	<!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
				
				<!-- Sidebar Side -->
                <div class="sidebar-side left-sidebar col-lg-3 col-md-12 col-sm-12">
                	<aside class="sidebar sticky-top">
						
						<!-- Search -->
						<div class="sidebar-widget search-box">
							<div class="widget-content">
								<form method="post" action="contact.html">
									<div class="form-group">
										<input type="search" name="search-field" value="" placeholder="Search" required>
										<button type="submit"><span class="icon fa fa-search"></span></button>
									</div>
								</form>
							</div>
						</div>
						
						<!-- Links Widget -->
						<div class="sidebar-widget links-widget">
							<div class="sidebar-title">
								<h5>Category</h5>
							</div>
							<div class="widget-content">
								<ul class="blog-cat">
									<li><a href="#">Education (20)</a></li>
									<li><a href="#">Business (12)</a></li>
									<li><a href="#">Life Style (10)</a></li>
									<li><a href="#">Relationship Consultant (15)</a></li>
									<li><a href="#">Business Intelligence (3)</a></li>
									<li><a href="#">Electronics (1)</a></li>
								</ul>
							</div>
						</div>
						
						<!-- Popular Post Widget -->
						<div class="sidebar-widget popular-posts">
							<div class="sidebar-title">
								<h5>Recent Post</h5>
							</div>
							<div class="widget-content">
								<article class="post">
									<div class="text"><a href="news-detail.html">High school program starting soon 2021 for covid-19 </a></div>
									<div class="post-info">February 10, 2020</div>
								</article>
								<article class="post">
									<div class="text"><a href="news-detail.html">Software to Improve Your Marketing Results</a></div>
									<div class="post-info">February 10, 2020</div>
								</article>
								<article class="post">
									<div class="text"><a href="news-detail.html">Everything You Need To Know About The Consulting </a></div>
									<div class="post-info">February 10, 2020</div>
								</article>
							</div>
						</div>
						
						<!-- Popular Posts -->
						<div class="sidebar-widget popular-tags">
							<div class="sidebar-title">
								<h5>Tags</h5>
							</div>
							<div class="widget-content">
								<a href="#">coach</a>
								<a href="#">education</a>
								<a href="#">consulting</a>
								<a href="#">strategy</a>
								<a href="#">courses</a>
								<a href="#">lifestyle gide</a>
								<a href="#">teach</a>
								<a href="#">motivation</a>
								<a href="#">finance</a>
							</div>
						</div>
						
					</aside>
				</div>
				
				<!-- Content Side -->
                <div class="content-side right-sidebar col-lg-9 col-md-12 col-sm-12">
                	<div class="blog-detail">
						<div class="inner-box">
							<div class="title">Business Motivation</div>
							<h2>How company culture shapes employee motivation</h2>
							<div class="clearfix">
								<div class="pull-left">
									<div class="author-info">
										<div class="author-image">
											<img src="images/resource/author-8.jpg" alt="" />
										</div>
										<strong>Post By</strong>
										27 november , 2020 &ensp; Tagged With: Education, Courses
									</div>
								</div>
								<div class="pull-right">
									<!-- Social Box -->
									<ul class="social-box">
										<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
										<li class="pinterest"><a target="_blank" href="http://pinterest.com/" class="fa fa-pinterest-p"></a></li>
										<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
										<li class="dribbble"><a target="_blank" href="http://dribbble.com/" class="fa fa-dribbble"></a></li>
									</ul>
								</div>
							</div>
							<div class="bold-text">We often consider the success of an organization to be based on the number of customers. Often we forget to recognize the employees who helped shape that success.</div>
							<div class="bold-text">There is a fundamental role played by these collaborators, as they are the main driving force to ensure that the company’s culture demonstrates appreciation, love, and respect. I would like to refer to the book called “Lead with Luv”. Specifically, I want to stress a conversation between Colleen Barrett,</div>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,</p>
							<h4>3 tips to engage your employee with the company:</h4>
							<p>otam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,</p>
							<div class="blockquote-box">
								<div class="row clearfix">
									<div class="image-column col-lg-6 col-md-6 col-sm-12">
										<div class="inner-column">
											<div class="image">
												<img src="images/resource/news-22.jpg" alt="" />
											</div>
										</div>
									</div>
									<div class="blockquote-column col-lg-6 col-md-6 col-sm-12">
										<div class="inner-column">
											<span class="quote-icon"><img src="images/icons/quote-icon-1.png" alt="" /></span>
											<p>Why is culture so important to a business? Here is a simple way to frame it. The stronger the culture, the less corporate process a company needs. When the culture is strong, you can trust everyone to do the right thing.”</p>
											<span class="quote-icon-two"><img src="images/icons/quote-icon-2.png" alt="" /></span>
										</div>
									</div>
								</div>
							</div>
							<ul class="numbering-list">
								<li>1. Create activities: Creating challenges for your employees will motivate them to demonstrate their skills. You can also offer a small reward for the winners, such as a gift card or a dinner voucher. Consider gift ideas to surprise your employees.</li>
								<li>2. Outdoor day: organize a team building day for your employees where their families can join. Whether it’s a picnic day in the suburbs, a day at the pool or a sports day. This will make stronger working relationships outside of work and create that unique bond. Give your employees a breath of fresh air.</li>
								<li>3. Employee climate survey: Carry out surveys every two months based on your work environment.</li>
							</ul>
							<p>It is important to project appreciation and respect and to treat others the way you want to be treated. Manage a humble leadership, </p>
							<p>Without discrediting or enlarging yourselves, but on the contrary, rejoice the achievements of your colleagues. Respect, self-respect, and love others must be cultivated within the organization. Remember: “we reap what we sow</p>
							<p>organize a team building day for your employees where their families can join. Whether it’s a picnic day in the suburbs, a day at the pool or a sports day. This will make stronger working relationships outside of work and create that unique bond. Give your employees a breath of fresh air.</p>
							<!-- Post Share Options-->
							<div class="post-share-options">
								<ul class="tags">
									<li><span class="icon fa fa-tag"></span></li>
									<li><a href="#">Motivation</a></li>
									<li><a href="#">Course</a></li>
									<li><a href="#">Business </a></li>
								</ul>
							</div>
							
							<!-- Related Projects -->
							<div class="related-projects">
								<div class="three-item-carousel owl-carousel owl-theme">
									
									<!-- News Block Five -->
									<div class="news-block-five">
										<div class="inner-box">
											<div class="image">
												<a href="#"><img src="images/resource/news-23.jpg" alt="" /></a>
											</div>
											<div class="lower-content">
												<h6><a href="#">Should all consultants bill in the same way?</a></h6>
												<div class="text">Keeping on top of bills is an essential part of your day to day life as a consultant</div>
											</div>
										</div>
									</div>
									
									<!-- News Block Five -->
									<div class="news-block-five">
										<div class="inner-box">
											<div class="image">
												<a href="#"><img src="images/resource/news-24.jpg" alt="" /></a>
											</div>
											<div class="lower-content">
												<h6><a href="#">How defining a niche can help you land new clients?</a></h6>
												<div class="text">Keeping on top of bills is an essential part of your day to day life as a consultant</div>
											</div>
										</div>
									</div>
									
									<!-- News Block Five -->
									<div class="news-block-five">
										<div class="inner-box">
											<div class="image">
												<a href="#"><img src="images/resource/news-25.jpg" alt="" /></a>
											</div>
											<div class="lower-content">
												<h6><a href="#">Should you pay someone to do something already do?</a></h6>
												<div class="text">Keeping on top of bills is an essential part of your day to day life as a consultant</div>
											</div>
										</div>
									</div>
									
									<!-- News Block Five -->
									<div class="news-block-five">
										<div class="inner-box">
											<div class="image">
												<a href="#"><img src="images/resource/news-23.jpg" alt="" /></a>
											</div>
											<div class="lower-content">
												<h6><a href="#">Should all consultants bill in the same way?</a></h6>
												<div class="text">Keeping on top of bills is an essential part of your day to day life as a consultant</div>
											</div>
										</div>
									</div>
									
									<!-- News Block Five -->
									<div class="news-block-five">
										<div class="inner-box">
											<div class="image">
												<a href="#"><img src="images/resource/news-24.jpg" alt="" /></a>
											</div>
											<div class="lower-content">
												<h6><a href="#">How defining a niche can help you land new clients?</a></h6>
												<div class="text">Keeping on top of bills is an essential part of your day to day life as a consultant</div>
											</div>
										</div>
									</div>
									
									<!-- News Block Five -->
									<div class="news-block-five">
										<div class="inner-box">
											<div class="image">
												<a href="#"><img src="images/resource/news-25.jpg" alt="" /></a>
											</div>
											<div class="lower-content">
												<h6><a href="#">Should you pay someone to do something already do?</a></h6>
												<div class="text">Keeping on top of bills is an essential part of your day to day life as a consultant</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
							
							<!-- Comment Form -->
							<div class="comment-form">
									
								<div class="group-title"><h4>Leave A Comment</h4></div>
								
								<!--Comment Form-->
								<form method="post" action="blog.html">
									<div class="row clearfix">
									
										<div class="form-group col-lg-6 col-md-6 col-sm-12">
											<input type="text" name="username" placeholder="Your Name" required="">
										</div>
										
										<div class="form-group col-lg-6 col-md-6 col-sm-12">
											<input type="email" name="email" placeholder="Email" required="">
										</div>
										
										<div class="form-group col-lg-12 col-md-12 col-sm-12">
											<input type="text" name="topic" placeholder="Topic" required="">
										</div>
										
										<div class="form-group col-lg-12 col-md-12 col-sm-12">
											<textarea class="" name="message" placeholder="Type your comment"></textarea>
										</div>
										
										<div class="form-group col-lg-12 col-md-12 col-sm-12">
											<div class="check-box"><input type="checkbox" name="shipping-option" id="account-option"> &ensp; <label for="account-option">Save my name, email, and website in this browser for the next time I comment.</label></div>
										</div>
										
										<div class="form-group col-lg-12 col-md-12 col-sm-12">
											<button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="txt">Post comment</span></button>
										</div>
									</div>
								</form>
									
							</div>
							
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- End Sidebar Page Container -->
	
	<!-- Newsletter Section Two -->
	<section class="newsletter-section-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="color-box"></div>
				<div class="icon-layer-one" style="background-image:url(images/icons/pattern-12.png)"></div>
				<div class="icon-layer-two" style="background-image:url(images/background/pattern-13.png)"></div>
				<div class="pattern-layer" style="background-image:url(images/background/pattern-14.png)"></div>
				<div class="row clearfix">
					
					<!-- Form Column -->
					<div class="form-column col-lg-7 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="title-box">
								<h2>Signup to our newsletter</h2>
								<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <br> do eiusmod tempor incididunt </div>
							</div>
							<!-- Newsletter Form -->
							<div class="newsletter-form-two">
								<form method="post" action="contact.html">
									<div class="form-group">
										<span class="icon fa fa-envelope-o"></span>
										<input type="email" name="email" value="" placeholder="Enter your eamil address" required>
										<button type="submit" class="flaticon-next-2 submit-btn"></button>
									</div>
								</form>
							</div>
						</div>
					</div>
					
					<!-- Image Column -->
					<div class="image-column col-lg-5 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image">
								<img src="images/resource/newsletter.png" alt="" />
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Newsletter Section Two -->
	
	<!-- Main Footer / Style Two -->
    <footer class="main-footer style-three">
		<div class="pattern-layer-four" style="background-image: url(images/icons/icon-10.png)"></div>
		<div class="pattern-layer-five" style="background-image: url(images/icons/icon-4.png)"></div>
		<div class="pattern-layer-six" style="background-image: url(images/icons/icon-16.png)"></div>
		<div class="pattern-layer-seven" style="background-image: url(images/icons/icon-6.png)"></div>
    	<div class="auto-container">
			<!-- Upper Box -->
			<div class="upper-box">
				<div class="clearfix">
					<div class="pull-left">
						<div class="logo">
							<a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
						</div>
						<div class="phone">
							<strong>Call us</strong>
							<a href="mailto:016826481101">016826481101</a>
						</div>
						<div class="email">
							<strong>Email us</strong>
							Email: <a href="mailto:info@gmail.com">info@gmail.com</a>
						</div>
					</div>
					<div class="pull-right">
						<!-- Social Box -->
						<ul class="social-box">
							<li><a href="#" class="fa fa-facebook-f"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-pinterest-p"></a></li>
							<li><a href="#" class="fa fa-youtube-play"></a></li>
							<li><a href="#" class="fa fa-dribbble"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End Upper Box -->
			
        	<!-- Widgets Section -->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!-- Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
						<div class="row clearfix">
						
                        	<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget payment-widget">
									<div class="text">Our mission is to provide a free, world-class education to anyone, anywhere. <br> <span>58 Howard Street #2 San Francisco USA</span></div>
									<div class="payment">We accept payment</div>
									<div class="cards"><img src="images/icons/cards.png" alt="" /></div>
								</div>
							</div>
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget link-widget">
									<h5>Company</h5>
									<ul class="link-list">
										<li><a href="#">Library</a></li>
										<li><a href="#">Gallery</a></li>
										<li><a href="#">Partners</a></li>
										<li><a href="#">Career</a></li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
					
					<!-- Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
						<div class="row clearfix">
						
                        	<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget info-widget">
									<h5>Products</h5>
									<ul class="link-list">
										<li><a href="#">Courses</a></li>
										<li><a href="#">Instructor</a></li>
										<li><a href="#">Events</a></li>
										<li><a href="#">Become A Teacher</a></li>
									</ul>
								</div>
							</div>
							
							<!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget link-widget">
									<h5>Countries</h5>
									<ul class="link-list">
										<li><a href="#">About</a></li>
										<li><a href="#">News</a></li>
										<li><a href="#">Impact</a></li>
										<li><a href="#">Our team</a></li>
										<li><a href="#">Motivation</a></li>
										<li><a href="#">Business</a></li>
										<li><a href="#">Consulting USA</a></li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				
				</div>
			</div>
			
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="copyright">Copyright 2021, All Right Reserved</div>
			</div>
			
		</div>
	</footer>
	<!-- End Main Footer -->
	
</div>
<!--End pagewrapper-->

<!-- Header Search -->
<div class="search-popup">
	<button class="close-search style-two"><span class="flaticon-multiply"></span></button>
	<button class="close-search"><span class="flaticon-multiply"></span></button>
	<form method="post" action="blog.html">
		<div class="form-group">
			<input type="search" name="search-field" value="" placeholder="Search Here" required="">
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	</form>
</div>
<!-- End Header Search -->

<!-- Scroll To Top -->
<div class="scroll-to-tops scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/nav-tool.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/owl.js"></script>
<script src="js/tilt.jquery.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/isotope.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/script.js"></script>

</body>
</html>